<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter!</h1>
    <h2>visited {{session['visits']}} times</h2>
    <form action="/byTwo" method='POST'>
    <input type="submit" value="Increment by two"></form>
    <form action="/deleteSesh" method="post">
    <input type="submit" value="Delete History"></form>
</body>
</html>